.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  display: flex;
  justify-content: center;
  color: white;
}

.TablesContainer {
  display: flex;
}

.TableWrapper {
  margin: 50px;
}

.actionIcon {
  cursor: pointer;
}

.addBut {
  color: dimgrey!important;
  background-color: darkseagreen!important;
}

.remBut {
  color: dimgrey!important;
  background-color: indianred!important;
}
